@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
.bg-light {
    background-color: #fff!important;
}

a {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    margin-bottom: 0.1em !important;
    background-color: #fff;
    border-radius: .3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

#yellow {
    background-color: yellow;
}